<h1>Log In to Investra</h1>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

<%= form_with url: login_path, local: true do |f| %>
  <div class="field">
    <%= label_tag :email, "Email" %>
    <%= email_field_tag :email, params[:email], required: true %>
  </div>
  
  <div class="field">
    <%= label_tag :password, "Password" %>
    <%= password_field_tag :password, nil, required: true %>
  </div>
  
  <div class="actions">
    <%= submit_tag "Log In" %>
  </div>
<% end %>

<p>Don't have an account? <%= link_to "Sign Up", signup_path %></p>