<h1>Stock Market</h1>

<% if @stocks.any? %>
  <table>
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Company Name</th>
        <th>Price</th>
        <th>Available Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @stocks.each do |stock| %>
        <tr>
          <td><%= link_to stock.symbol, stock_path(stock) %></td>
          <td><%= stock.name %></td>
          <td>$<%= number_with_precision(stock.price, precision: 2) %></td>
          <td><%= stock.available_quantity %></td>
          <td>
            <%= link_to 'View Details', stock_path(stock) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No stocks available.</p>
<% end %>
